.p-menubar {
    border-radius: 0px !important;
}

.p-dataview .p-dataview-header {
    border: 0 !important;
  }

.p-datatable .p-datatable-header {
  border: 0 !important;
}

.p-inputnumber-input {
  width: 40px !important;
  text-align: center;
}